<div class="hero py-10 bg-base-200 z-[500000000]">
  <div class="hero-content flex-col lg:flex-row w-[100vw]">
    <img
      data-aos="fade-right"
      src="../../../../assets/hematech12.jpg"
      class="md:max-w-sm rounded-lg shadow-2xl w-[80vw]"
      alt=""
    />
    <div data-aos="fade-left" class="lg:mr-24 lg:ml-12 mb-8">
      <h1 class="text-5xl font-bold righteous text-primary">{{ about?.title }}</h1>
      <p class="py-6 monospace">{{ about?.description }}</p>
      <button routerLink="about" class="btn btn-primary rounded-none text-white px-2 md:px-5 lg:px-8 font-light lg:text-xl md:text-md text-sm btn-xs md:btn-md">
        About Us
      </button>
    </div>
  </div>
</div>