<app-cover [title]="yourTitle" [sub1]="yourSub1" [sub2]="yourSub2" [img]="img"></app-cover>

<div class="container mx-auto mt-5">
  <h1
    class="mb-5 text-2xl md:text-5xl lg:text-7xl font-bold uppercase font-cinzel text-primary text-center"
  >
    {{ about?.heading }}
  </h1>

  <div
  class="block bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.1),0_10px_20px_-2px_rgba(0,0,0,0.07)] md:m-12"
>

  <div *ngIf="about?.title" class="p-6">
    <h2 class="mb-8 text-xl md:text:2xl lg:text-4xl font-bold text-cyan-500 uppercase righteous">{{ about?.title }}</h2>
  <p class="mb-8 pb-2 text-slate-400 lg:pb-0 monospace">
    {{ about?.description }}
  </p>
  </div>
  <div *ngIf="about?.title2" class="p-6">
    <h2 class="mb-8 text-xl md:text:2xl lg:text-4xl font-bold text-cyan-500 uppercase righteous">{{ about?.title2 }}</h2>
  <p class="mb-8 pb-2 text-slate-400 lg:pb-0 monospace">
    {{ about?.description2 }}
  </p>
  </div>
  <div *ngIf="about?.title3" class="p-6">
    <h2 class="mb-8 text-xl md:text:2xl lg:text-4xl font-bold text-cyan-500 uppercase righteous">{{ about?.title3 }}</h2>
  <p class="mb-8 pb-2 text-slate-400 lg:pb-0 monospace">
    {{ about?.description3 }}
  </p>
  </div>
  <div *ngIf="about?.title4" class="p-6">
    <h2 class="mb-8 text-xl md:text:2xl lg:text-4xl font-bold text-cyan-500 uppercase righteous">{{ about?.title4 }}</h2>
  <p class="mb-8 pb-2 text-slate-400 lg:pb-0 monospace">
    {{ about?.description4 }}
  </p>
  </div>
  <div *ngIf="about?.title5" class="p-6">
    <h2 class="mb-8 text-xl md:text:2xl lg:text-4xl font-bold text-cyan-500 uppercase righteous">{{ about?.title5 }}</h2>
  <p class="mb-8 pb-2 text-slate-400 lg:pb-0 monospace">
    {{ about?.description5 }}
  </p>
  </div>

</div>
  
</div>




