<div class="bg-[#00D9A5]" [ngStyle]="{ 'background-image': 'url(' + bannerBg + ')' }">
    <div class="container mx-auto">
      <div class="grid lg:grid-cols-3 gap-8 pt-8">
        <div class="hidden lg:block" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <img src="{{ mobile }}" class="max-w-[200px]" alt="phone" />
        </div>
        <div class="col-span-2 grid content-center" data-aos="fade-top" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <h1 class="text-xl md:text-3xl lg:text-5xl font-light text-white my-8">
            For Doctor Serial: 01318346607
          </h1>
        </div>
      </div>
    </div>
  </div>
  
