<app-cover [title]="yourTitle" [sub1]="yourSub1" [sub2]="yourSub2" [img]="img"></app-cover>

<div class="w-full max-w-7xl mx-auto">
  <form
    #form="ngForm"
    (ngSubmit)="onFormSubmit()"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="productCategory"
      >
        Product Category <span class="text-red-600">*</span>
      </label>
      <select
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="productCategory"
        name="productCategory"
        [(ngModel)]="model.ProductCategory"
        required
      >
        <option value="" disabled selected>Select Product Category</option>
        <option value="PATHOLOGY">PATHOLOGY</option>
        <option value="SURGICAL">SURGICAL</option>
        <option value="IMAGING">IMAGING</option>
        <option value="OT ITEM">OT ITEM</option>
        <option value="OTHERS">OTHERS</option>
      </select>
    </div>

    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="productName"
      >
        Product Name <span class="text-red-600">*</span>
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="productName"
        name="ProductName"
        type="text"
        placeholder="Enter Product Name"
        [(ngModel)]="model.ProductName"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="brand">
        Product Brand
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="brand"
        name="brand"
        type="text"
        placeholder="Enter Product Brand"
        [(ngModel)]="model.Brand"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="model">
        Product Model
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="model"
        name="model"
        type="text"
        placeholder="Enter Product Model"
        [(ngModel)]="model.Model"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="origin">
        Product Origin
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="origin"
        name="origin"
        type="text"
        placeholder="Enter Product Origin"
        [(ngModel)]="model.Origin"
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="catalogUrl"
      >
        Product Catalog
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="catalogUrl"
        name="catalogUrl"
        type="text"
        placeholder="Enter Catalog URL"
        [(ngModel)]="model.CatalogUrl"
      />
    </div>
    <div class="mb-4">
      <label for="imageFile" class="block text-gray-700 text-sm font-bold mb-2"
        >Product Image <span class="text-red-600">*</span></label
      >
      <input
        class="relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-200 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-400 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-500 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-200 dark:text-neutral-500 dark:file:bg-neutral-700 dark:file:text-neutral-400 dark:focus:border-primary focus:shadow-outline"
        type="file"
        id="imageFile"
        accept="image/*"
        (change)="onFileChange($event)"
        required
      />
      <label class="label">
        <span class="label-text-alt text-red-500">{{err}}</span>
      </label>
    </div>

    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="description"
      >
        Description
      </label>
      <textarea
        name="description"
        id="description"
        class="shadow appearance-none border border-base-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        cols="30"
        rows="10"
        placeholder="Description"
        [(ngModel)]="model.Description"
      ></textarea>
    </div>
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="aditionalInformation"
      >
        Additional Information
      </label>
      <textarea
        name="aditionalInformation"
        id="aditionalInformation"
        class="shadow appearance-none border border-base-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        cols="30"
        rows="10"
        placeholder="Enter Additional Information"
        [(ngModel)]="model.AditionalInformation"
      ></textarea>
    </div>
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="specialFeature"
      >
        Special Feature
      </label>
      <textarea
        name="specialFeature"
        id="specialFeature"
        class="shadow appearance-none border border-base-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        cols="30"
        rows="10"
        placeholder="Enter Special Feature"
        [(ngModel)]="model.SpecialFeature"
      ></textarea>
    </div>
    <input
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      value="Add Product"
    />
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2023 <span class="text-accent"> Medical Solution Technology</span>. All
    rights reserved.
  </p>
</div>
